@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    font-family:'Press Start 2P';
    background-color: #ccade8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px;
}
header{
    width: 1100px;
    height: 100px;
    background-color: #cc3366;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: #7cf305;
    border-width: 5px;
    border-radius: 50px;
    border: groove white;
    margin-top:50px;
}


.container{
    background-image: url("images/fondo1.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    width:90%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: #7cf305;
    border-width: 5px;
    border-radius: 50px;
    border: groove white;

}
.container2{
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    width:70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: #7cf305;
    border-width: 5px;
    border-radius: 50px;
    /* border: solid black; */
}
#mid-section{
    margin-top: 0px;
    width: 1108px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: relative; */
}

.alien-world{
    width: 690px;
    height: 500px;
}

.left-side{
    width: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-right: 100px;
    position: relative;
}
.btn-section{
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.left-side > img{
    height: 294px;
    position: absolute;
    top: 235px; 
}

.btn{
    width: 150px;
    background-image: url("images/fondo1.png");
    border:groove white
}
#gameCanvas {
    width: 800px;
    border: 7px groove white;

}
.alien-world{
    border:7px groove white;
}
.right-side{
    width: 250px;
    height: 510px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.instructions {
    font-size: 10px;
    width: 280px;
    padding: 10px;
    border: 2px groove white;
    background-color:  #cc3366;
    color: white
    
}

.alien1{
    position: absolute;
    top: 150px;
   
}

.logo{
    width: 260px;
    height: 120px;
   
}

.gameover{
    color:white;
    font-size: 30px;
    margin-top: 10px;

}

.cow-img{
    display: flex;
    flex-direction: column;
    
    
}

.winner{
    color:white;
    font-size: 20px;
    margin-top: 10px;
}
.crazy-cow{
    border:7px groove white;
    background-color: whitesmoke;
    height: 377px;
    width: 440px;
}

.dancing-cow{
    width: 140;
    height: 198;
}